{% extends 'bases/card.html' %}
{% block title %}Distriluna{% endblock %} 
{% block card_title %}Distriluna{% endblock %} 
{% block card_content %}
<center><p>Gestión de empleados</p></center>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        

      </div>
      <div class="col">
        <i class="fa-solid fa-file"style="font-size: 9.5em;"></i>
      </div>
      <div class="col">
        <a class="fa-solid fa-user" href="{% url 'index_usuarios' %}" style="font-size: 9.5em;"></a>


        
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  {% with container_class="container w-50" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}