{% extends 'bases/card.html' %}
{% block title %}Registrar Novedad{% endblock %} 
{% block card_title %}Registrar Novedad<div><a href="{% url 'index_tipos_novedades' %}">ver novedades</a></div>
<b>||</b>
<div><a href="{% url 'crear_tipo_novedad' %}">crear novedad</a></div>
{% endblock %} 
{% block card_content %}

<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}
{% block content %}
  {% with container_class="container w-50" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

